# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/irambhqu/backend.moinkhanif.dev"
PassengerBaseURI "/"
PassengerNodejs "/home/irambhqu/nodevenv/backend.moinkhanif.dev/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv WEATHER_API_KEY "bb36da3b06ce615357e5bc67bd6c1c0d"
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END